
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


<section class="content" id="sectionUserCreate">
    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary" style="height:500px">
                <div class="box-header with-border">
                    <h3 class="box-title">Create Event Details</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                 <h2>Event Question Details</h2>
            </div>
        </div>


    </div>
</section>

