<section class="content-header">
    <h1>
        Utilities
        <small>Utilities Master</small>
    </h1>
</section>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<section class="content" id="sectionUserList">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Master Search</h3>
           
        </div>
        <div class="box-body" style="height:700px !important">
            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>Role Master</h3>
                            <p>Role Details</p>
                        </div>
                        
                        <a asp-action="RoleList" asp-controller="RoleMaster" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div><!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>Role Access</h3>
                            <p>Role Access</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a asp-action="RoleAccess" asp-controller="RoleAccess" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div><!-- ./col -->
             
            </div>
            
        </div>
    </div>
</section>

